<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>View.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstoqueServlet</servlet-name>
        <servlet-class>View.EstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>View.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarReuniaoServlet</servlet-name>
        <servlet-class>View.CadastrarReuniaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstoqueServlet</servlet-name>
        <servlet-class>View.ListarEstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>View.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreasComunsServlet</servlet-name>
        <servlet-class>View.AreasComunsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendarAreaServlet</servlet-name>
        <servlet-class>View.AgendarAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarAgendamentosServlet</servlet-name>
        <servlet-class>View.VisualizarAgendamentosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarReuniaoServlet</servlet-name>
        <servlet-class>View.VisualizarReuniaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReuniaoServlet</servlet-name>
        <servlet-class>View.ReuniaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuralServlet</servlet-name>
        <servlet-class>View.MuralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarMuralServlet</servlet-name>
        <servlet-class>View.AdicionarMuralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>View.LogoffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstoqueServlet</servlet-name>
        <url-pattern>/Estoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarReuniaoServlet</servlet-name>
        <url-pattern>/CadastrarReuniao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReuniaoServlet</servlet-name>
        <url-pattern>/ReuniaoInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstoqueServlet</servlet-name>
        <url-pattern>/ListarEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreasComunsServlet</servlet-name>
        <url-pattern>/AreasComuns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendarAreaServlet</servlet-name>
        <url-pattern>/AgendarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarAgendamentosServlet</servlet-name>
        <url-pattern>/VisualizarAgendamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarReuniaoServlet</servlet-name>
        <url-pattern>/VisualizarReuniao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuralServlet</servlet-name>
        <url-pattern>/Mural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarMuralServlet</servlet-name>
        <url-pattern>/AdicionarMural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarMuralServlet</servlet-name>
        <url-pattern>/VisualizarMural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
