<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>View.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstoqueServlet</servlet-name>
        <servlet-class>View.EstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>View.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarReuniaoServlet</servlet-name>
        <servlet-class>View.CadastrarReuniaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstoqueServlet</servlet-name>
        <servlet-class>View.ListarEstoqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstoqueServlet</servlet-name>
        <url-pattern>/Estoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarReuniaoServlet</servlet-name>
        <url-pattern>/Reuniao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstoqueServlet</servlet-name>
        <url-pattern>/ListarEstoque</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

